/* .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 3vw;
  padding: 0 4rem 0 4rem;
} */
.images {
  display: flex;
  gap: 20vw;
  padding: 0 4rem;
  width: max-content;
  min-width: 100%;
}
.imageItem {
  /* Set a fixed width for each image item */
  flex: 0 0 400px; /* or whatever width you prefer */
  /* Alternatively, you can use: */
  /* width: 300px;
     min-width: 300px; */
}
